production/data-stores/mysql/.terraform/providers/registry.terraform.io/hashicorp/aws/3.68.0/darwin_amd64/terraform-provider-aws_v3.68.0_x5 filter=lfs diff=lfs merge=lfs -text
global/iam/.terraform/providers/registry.terraform.io/hashicorp/aws/3.70.0/darwin_amd64/terraform-provider-aws_v3.70.0_x5 filter=lfs diff=lfs merge=lfs -text
*.0_x5 filter=lfs diff=lfs merge=lfs -text
